<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TCGscape</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $("p").hide();
    });
});
</script>

<link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/icons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/icons/manifest.json">
<link rel="shortcut icon" href="/static/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="http://www.tcgscape.com"  onclick = $("#menu-close").click(); >TCGScape</a>
            </li>

            {% for d in decks %}

            <li>
                <a href="/deck/{{ d.name }}" onclick = $("#menu-close").click(); >{{ d.name }}</a>
            </li>

            {% endfor %}

            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="/recentdecks" onclick = $("#menu-close").click(); >Deck lists</a>
            </li>
            <li>
                <a href="/collection" onclick = $("#menu-close").click(); >Collection</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>


    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Take a look at some of our builds.</h3>
                    <a class="btn btn-lg btn-dark">DBZ CCG</a>
                    <a class="btn btn-lg btn-dark">MTG</a>
                    <h3>



                    <div align = "center">
                        <table class="table table-condensed">
                            <tr>
                                <th>Deck name: {{deck}}</th>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td><b>Description:</b> {{ deck.description }}</td>
                            </tr>
                            <tr> 
                                <td><b>Author:</b> {{ deck.author }}</td>
                            </tr>
                            <tr>
                                <td><b>Cards: </b> </td>
                            </tr>
                            <tr>
                                <td>
 
                                    {% for deckcard in deck.deckcard_set.all %}
                                <ul>
                                    <li>{{ deckcard.card.name }} - {{ deckcard.quantity }}<br></li>
                                      <li>Bread</li>
  <li class="fade">Chips</li>
  <li class="fade">Socks</li>
                                </ul>




                                        

                                    {% endfor %}




                                </td>
                            </tr>
                        </table>
                    </div>


                </h3>
                </div>
                </div>
                </div>
</aside>




    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>TCGScape</strong>
                    </h4>
                    <p>Copyright &copy; 2015 Panini America, Inc. 2015 <br> TOEI ANIMATION. Dragon Ball, Dragon Ball Z, and Dragon Ball GT Licensed by FUNimation &reg; Productions, Ltd. All Rights Reserved. All other trademarks and copyrights are the property of their respective owners. </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (209) 881-7499</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:michael@tcgscape.com">michael@tcgscape.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.facebook.com/michaelflip"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/michaelflip"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="mailto:michael@tcgscape.com?Subject=Question%20regarding%20TCGScape"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; TCGScape.com</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>


    <!-- Hover jQuery -->

<script>
$( "li" ).hover(
  function() {
    $( this ).append( $( "<span> ***</span><img src="/static/sets/set1/cards/{{ deckcard.card.image_url }}" height="35%" width="10%">" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
  }
);
$( "li.fade" ).hover(function() {
  $( this ).fadeOut( 100 );
  $( this ).fadeIn( 500 );
});
</script>


</body>

</html>
